<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child class="map-container">
        <div class="outmost">
          <section class="chatter">
            <h1>Emergency winter shelters</h1>
            <p>Temporary winter-weather shelters are opening across the region as forecasts predict lasting
               freezing temperatures, and possibly snow, to hit the Puget Sound area in coming days.
               Also shown are emergency shelters that operate throughout the winter. Locations can change,
               so call ahead if you can.</p>
          </section>

          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">

              <leaflet-map zoom=10>
                <tile-layer layer="cartoPositron"></tile-layer>
              </leaflet-map>

            </div>
          </div>


          <div class="source">
            <span style="visibility:hidden;">Source</span>
            <span class="credit">LAUREN FLANNERY / THE SEATTLE TIMES</div>
        </div>
      </responsive-child>
    <script>
      window.course = <%= JSON.stringify(json.SevereWeatherShelters) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
